[Unit]
Description=shutdown using button and LED with new GPIOD
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 button_LED.py
WorkingDirectory=/home/pi/Projects/Raspberry-Shutdown

[Install]
WantedBy=multi-user.target
